.ui-warning-shadow{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.ui-warning-container{
    margin: auto;
    width: 400px;
    background-color: #3e4049;
    padding: 10px;
    color: white;
    border-radius: 7px;
    margin-top: 26vh;
}

.ui-warning-header{
    padding-bottom: 10px;
}

.ui-warning-controls{
    padding-top: 10px;
    height: 24px;
}

.ui-warning-button{
    float: right;
    background-color: #ffae00;
    padding: 4px;
    width: 50px;
    text-align: center;
    border-radius: 5px;
    color: black;
    cursor: pointer;
}