.ui-view {
    padding: 15px 0;
}

.ui-games{
    background: white;
    border-collapse: collapse;
    width: 100%;
    border: 1px #D0E3EF solid;
}

.ui-games th{
    color: white;
    background: url("../images/admin/bg.gif") repeat-x scroll left top white;
    text-align: center;
    font-size: 0.9em;
    border: 1px white solid;
    padding: 0.3em;
    height: 2.2em;
}

.ui-games td{
    font-size: 0.9em;
    border: 1px white solid;
    padding: 0.3em;
    color: #000;
    text-align: center;
 }