h2{
    width: 100%;
    height: 38px;
    margin-top: 12px;
    font-family: "Helvetica Neue Light", Helvetica;
    font-size: 18px;
    background-color: #e4e4e4;
    background: -webkit-gradient(linear, left top, left bottom, from(#e4e4e4), to(#f0f0f0));
    background: -moz-linear-gradient(top, #e4e4e4, #f0f0f0);
    color: black;
    text-transform: uppercase;
}

.ui-stats {
    font-family: "Helvetica Neue Medium", Helvetica;
    font-size: 14px;
    color: white;
    background: rgba(33, 33, 33, 0.7);
}

.ui-stats th {
    height: 38px;
    background-color: #27804c;
    text-align: center;
    width: 30px;
}

.ui-stats th.ui-player-name {
     width: 100px;
 }

.ui-stats td {
    height: 38px;
    padding:3px;
    text-align: center;
}
.ui-stats td a{
    color: inherit;
}
.ui-stats .ui-players:nth-child(even) td, tbody tr.even td {background: rgba(255, 255, 255, 0.3)}

.ui-stats tr.ui-totals td.ui-total-col{
    background-color: #27804c;
    text-align: center;
    color:white;
    font-family: "Helvetica Neue Bold", Helvetica;
}

.ui-stats tr.ui-totals td{
    background-color: #c2c2c2;
    color: black;
    font-family: "Helvetica Neue Regular", Helvetica;
    font-size: 15px;
}

.ui-stats-additinal{
    background-color: #545454;
    color: #C2C2C2;
    padding: 10px;
}

.ui-stats-additinal b{
    color: white;
}