div.ui-field-bases{
    width: 685px;
    height: 340px;
    position: absolute;
    top: 0;
}

div.ui-field-bases .base{
    position: absolute;
    width: 36px;
    height: 35px;
}

div.ui-field-bases .base[base='1']{
    top: 110px;
    left: 488px;
}

div.ui-field-bases .base[base='2']{
    top: 70px;
    left: 332px;
}

div.ui-field-bases .base[base='3']{
    top: 110px;
    left: 178px;
}

div.ui-field-bases .base[base='4']{
    left: 332px;
    top: 192px;
}

div.ui-field-hover{
    position: absolute;
    display: inline;
    padding: 0 6px;
    border-radius: 5px;
    font: inherit;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
}