
div.ui-scoreeditor {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

div.ui-scoreeditor h1{
    margin: 0 0 10px 0;
    color: #E0E0E0;
    font-size: 18px;
}

div.ui-scoreeditor .container {
    width: 482px;
    margin: 7% auto 0 auto;
    background-color: #2d2f35;
    border-radius: 8px;
    padding: 10px;
    position: relative;
}

div.ui-scoreeditor .tree-container {
    height: 308px;
    width: 480px;
    background-color: #131317;
    border: solid 1px #876314;
    outline: none;
}

div.ui-scoreeditor .tree-controls {
    margin-top: 10px;
}

div.ui-scoreeditor .tree-add-container {
    margin-top: 10px;
}

div.ui-scoreeditor .button {
    background-color: #e9a003;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    font: bold 12px arial;
    text-transform: uppercase;
}

div.ui-scoreeditor .button-close {
    position: absolute;
    color: #E9A003;
    top: 8px;
    right: 10px;
    font-size: 14px;
    cursor: pointer;
}

div.ui-scoreeditor select {
    color: #E0E0E0;
    background-color: #131317;
    height: 30px;
    border-radius: 6px;
}

div.ui-scoreeditor input[type=text] {
    background-color: #2D2F35;
    outline: none;
    border: solid 1px #876314;
    display: block;
    width: 470px;
    color: #E0E0E0;
    font: inherit;
    padding: 0 5px;
}

div.ui-scoreeditor .field {
    margin-bottom: 5px;
}

div.ui-scoreeditor .field > div {
    display: inline-block;
}

div.ui-scoreeditor .field .label {
    color: #8A8A8A;
}

div.ui-scoreeditor .tree-container .node {
}

div.ui-scoreeditor .tree-container .node-title {
    color: #E0E0E0;
    cursor: pointer;
}

div.ui-scoreeditor .tree-container .node-title span {
    display: inline-block;
    min-width: 10px;
}

div.ui-scoreeditor .tree-container .node-title span[type=visitor] {
    color: #D35252;
}

div.ui-scoreeditor .tree-container .node-title span[type=home] {
    color: #99A9D3;
}

div.ui-scoreeditor .tree-container .node-title[selected] {
    background-color: #E9A003;
    color: black;
}

div.ui-scoreeditor .tree-container .node-title[selected] span[type=visitor] {
    color: #7E0C0C;
}

div.ui-scoreeditor .tree-container .node-title[selected] span[type=home] {
    color: #193170;
}

div.ui-scoreeditor .tree-container .node-children {
    padding-left: 30px;
}